@use "mixins";

#logga{
    width: 150px;
    display: flex;
    margin-right: 5%;
    @include mixins.desktop{
        margin-left: 5%;
    }
}

header{
    display: flex;
    justify-content: space-between;
    background-color: black;

    @include mixins.desktop{
        color: white;
    }

    .links{
        margin-top: 3%;
        display: none;
        margin-right: 1%;

        button{
            margin: 20px;
            font-family: "Lato";
        }
        @include mixins.desktop{
            display: inline;
        }
    }
}

#logoLink:hover{
    background-color: black;
}

.headerLink{
    margin: 0;
}

.headerLinks:hover{
    background-color: black;
    color: white;
    transform: scale(1.3);
    transition: 0.5s;
    @include mixins.desktop{
        background-color: black;
    }
}

#cvButton{
    border: none;
    cursor: pointer;
    background-color: white;

    @include mixins.desktop{
        color: white;
        background-color: black;
    }
}

