footer{
    background-color: black;
    text-align: center;
    padding: 2%;

    a{
        margin: 10px;
    }
    a:hover{
        background-color: black;
    }

    h2{
        color: white;
        font-family: "Satisfy";
        font-size: 28pt;
    }
}