@use "mixins";

body{
    margin: 0;
    padding: 0;
    //height: 100vh;
    font-family: "Lato";
    font-size: 11pt;
    color: white;
    background-color: rgba(47, 0, 255, 0.75);
    @include mixins.desktop{
        font-size: 13pt;
    }
}

#startTyping{
    width: 250px;

    @include mixins.desktop{
        width: 700px;
    }

    #demo{
        color: rgba(47, 0, 255, 0.75);
        line-height: 30pt;
    }
    
    #jc{
        color: white;
        width: 100%;
        line-height: 30pt;
        margin-top: 70%;

        @include mixins.desktop{
            margin-top: 20%;
        }
    }

    #jc:hover{
        transform: scale(1.3);
        transition: 0.5s;
        cursor: pointer;
    }
}

.titleh2{
    font-family: "Bebas Neue";
    font-size: 30pt;
    color: black;
}

a{
    text-decoration: none;
    color: white;
}

p{
    font-size: 13pt;
    @include mixins.desktop{
        font-size: 15pt;
    }
}

button{
    font-size: 13pt;
}

.fa-brands, .fa-solid{
    font-size: 20pt;
}

.fa-brands:hover, .fa-solid:hover{
    transform: scale(1.3);
    transition: 0.5s;
}

.project{
    background-color: black;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-bottom: 20%;
    margin-left: 3%;
    margin-right: 3%;
    text-align: center;
    padding: 0;

    @include mixins.desktop{
        width: 70%;
        margin-left: 15%;
        margin-right: 15%;
        flex-direction: column;
    }

    .projectImg{
        width: 100%;
        display: none;

        @include mixins.desktop{
            display: inline;
        }
    }

    .projectImgMobile{
        width: 150px;

        @include mixins.desktop{
            display: none;
        }
    }

    span{
        padding: 2%;
        width: 100%;

        @include mixins.desktop{
            padding: 5%;
            width: 70%;
        }

        h2{
            font-size: 12pt;

            @include mixins.desktop{
                font-size: 18pt;
            }
        }

        p{
            font-size: 10pt;

            @include mixins.desktop{
                font-size: 15pt;
            }
        }
    }
}

#container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    //margin: 8%;
    .presentation{
        flex-direction: column;
        font-family: "Bebas Neue";
        display: flex;
        padding: 3%;
        margin-bottom: 20%;
        padding-left: 5%;
        padding-right: 5%;
        justify-content: center;
        align-items: center;
        color: rgb(47, 0, 255);
        // background-color: black;
        // box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

        @include mixins.desktop{
          margin-left: 20%;
          margin-right: 20%;
        }
        article{
            padding: 5%;
            line-height: 30px;
            text-align: center;

            h2{
                font-size: 38pt;
            }
        }
    }

    #contact{
        padding: 5%;
        font-size: 13pt;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        background-color: black;
        text-align: center;
        width: 200px;
        height: 200px;
        margin-bottom: 25%;
        border-radius: 50%;

        h2{
            margin-bottom: 3%;
            margin-top: 20%;
        }

        a{
            margin: 1%;
        }
    }
}

#aboutme{
    background-color: black;
    padding-top: 10%;
    padding-bottom: 10%;
    padding-left: 5%;
    padding-right: 5%;
    margin-bottom: 25%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 80%;
    @include mixins.desktop{
        margin-left: 15%;
        margin-right: 15%;
        padding: 5%;
        padding-bottom: 3%;
        padding-top: 3%;
        flex-direction: row;
        width: 70%;
    }
    article{
        width: 100%;
        @include mixins.desktop{
            width: 100%;
        }
    }
    ul{
        text-align: start;
        list-style: none;
        padding-top: 2%;
        padding-bottom: 2%;
        border-radius: 10px;
        padding-left: 25%;
        width: 50%;
        @include mixins.desktop{
            padding: 3%;
            width: 30%;
        }
    }
    #ulcontainer{
        background-color: rgb(87, 51, 249);
        color: black;
        font-weight: bolder;
        display: flex;
        padding-left: 20%;
        padding-right: 20%;
        width: 60%;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        @include mixins.desktop{
            flex-direction: row;
        }
    }
    #juliabw{
        width: 200px;
        border-radius: 50%;
        border: 2px solid rgb(87, 51, 249);
        @include mixins.desktop{
            width: 300px;
            margin-right: 5%;
        }
    }
    .bluetext{
        color: rgb(87, 51, 249);
        font-weight: bolder;
    }
}

#aboutmearticle{
    padding-left: 6%;
    padding-right: 6%;
}

#arrowUp{
    margin: 5%;
    border-radius: 80%;
    background-color: white;
    margin-top: 1%;
}

#arrowUp:hover{
    transform: scale(1.6);
    transition: 0.5s;
}

.fa-circle-chevron-up{
    color: black;
    border-radius: 50%;
    transform: scale(1.5);
}