body{
    margin: 0;
    padding: 0;
    //height: 100vh;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

a{
    text-decoration: none;
    color: white;
}

h1{
    font-family: "Satisfy";
}

a:hover{
    color: rgb(167, 119, 188);;
}

header{
    background-color: darkgrey;
    padding: 2%;
    background-color: black;
    color: white;
    display: flex;
    justify-content: space-between;

    .links{
        margin: 30px;
        margin-right: 30px;
    }
}


footer{
    background-color: black;
    text-align: center;
    padding: 3%;

    a{
        margin: 30px;
    }
}

.fa-brands{
    font-size: 20pt;
    color: white;
}

.fa-brands:hover{
    color: rgb(167, 119, 188);
}

#container{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 500px;
    background-color: rgb(167, 119, 188);
    //background: url(/src/assets/codebg.png);
    .presentation{
        flex-direction: column;
        color: white;
        display: flex;
        justify-content: center;
        align-items: center;

        article{
            background-color: black;
            padding: 5%;
            line-height: 10px;
            font-size: 18pt;
            text-align: center;
            border: 2px solid white;
            padding-left: 70px;
            padding-right: 70px;
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

            p{
                letter-spacing: 8px;
            }

            h2{
                color: rgb(167, 119, 188);
                font-family: "Satisfy";
            }
        }
    }

    .contact{
        background-color: black;
        color: white;
        padding: 5%;
        line-height: 10px;
        font-size: 18pt;
        text-align: center;
        border: 2px solid white;
        padding-left: 70px;
        padding-right: 70px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

        i{
            padding-right: 30px;
        }
    }
    
    .imagecontainer{
        flex-direction: column;
        width: 50vw;
        display: flex;
        justify-content: center;
        align-items: center;

        #julia{
            border-radius: 50%;
            width: 50%;
            border: 2px solid white;
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        
        }
    }
}