body{
    margin: 0;
    padding: 0;
    //height: 100vh;
    font-family: "Lato";
    font-size: 11pt;
    background-color: rgba(47, 0, 255, 0.75);
}

a{
    text-decoration: none;
    color: white;
}

p{
    font-size: 13pt;
}

button{
    font-size: 13pt;
}

button:hover{
    color: rgba(47, 0, 255, 0.75);
}

h1{
    font-family: "Satisfy";
}

a:hover{
    color: rgba(47, 0, 255, 0.75);
}

#juliaai{
    width: 40%;
}

header{
    background-color: darkgrey;
    padding: 2%;
    background-color: black;
    color: white;
    display: flex;
    justify-content: space-between;

    .links{

        a{
            margin: 20px;
        }

        button{
            margin: 20px;
            font-family: "Lato";
        }
    }
}


footer{
    background-color: black;
    text-align: center;
    padding: 3%;

    a{
        margin: 10px;
    }

    h2{
        color: white;
        font-family: "Satisfy";
        font-size: 28pt;
    }
}

.fa-brands, .fa-solid{
    font-size: 20pt;
}

.fa-brands:hover{
    color: rgba(47, 0, 255, 0.75);
}

#container{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 3%;
    .presentation{
        flex-direction: column;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: white;

        article{
            padding: 5%;
            line-height: 30px;
            text-align: center;
            border: 1px solid black;
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

            h2{
                font-family: "Satisfy";
                font-size: 28pt;
            }
        }
    }

    .contact{
        padding: 5%;
        line-height: 10px;
        font-size: 16pt;
        text-align: center;
        border: 1px solid black;
        padding-left: 70px;
        padding-right: 70px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

        i{
            padding-right: 30px;
        }

        h2{
            margin-bottom: 3%;
        }
    }
    
    .imagecontainer{
        flex-direction: column;
        width: 50vw;
        display: flex;
        justify-content: center;
        align-items: center;

        #julia{
            border-radius: 50%;
            width: 30%;
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        }
    }
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
  
/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 5% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 60%; /* Could be more or less, depending on screen size */
}
  
/* The Close Button */
.close {
    background-color: rgb(235, 235, 235);
    border: none;
    position: absolute;
    right: 20%;
    font-size: 28px;
    font-weight: bold;
}
  
.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

#cvButton{
    background-color: black;
    border: none;
    color: white;
    cursor: pointer;
}

#cvButton:hover{
    color: rgb(47, 0, 255);
}

#cvImage{
    width: 100%;
}